body {
background-color: rgb(3, 26, 52);
font-family: 'PT Mono', monospace;
font-family: 'Roboto Flex', sans-serif;
}

.Weather-app {
background: #FFFFFF;
max-width: 600px;
margin: 45px auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08s) ;
padding: 30px;
border: 6px;
}
